<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="nanoFramework.CoreLibrary" version="1.12.0" targetFramework="netnanoframework10" />
  <package id="nanoFramework.Runtime.Events" version="1.10.0" targetFramework="netnanoframework10" />
  <package id="nanoFramework.System.Collections" version="1.4.0" targetFramework="netnanoframework10" />
  <package id="nanoFramework.System.IO.Streams" version="1.0.0" />
  <package id="nanoFramework.System.Net" version="1.8.1" targetFramework="netnanoframework10" />
  <package id="nanoFramework.System.Net.Http.Server" version="1.4.0-preview.52" targetFramework="netnanoframework10" />
  <package id="nanoFramework.System.Text" version="1.1.3" targetFramework="netnanoframework10" />
  <package id="nanoFramework.System.Threading" version="1.0.4" />
  <package id="nanoFramework.Windows.Storage" version="1.4.6-preview.48" targetFramework="netnanoframework10" />
  <package id="nanoFramework.Windows.Storage.Streams" version="1.12.4-preview.25" targetFramework="netnanoframework10" />
  <package id="Nerdbank.GitVersioning" version="3.4.205" developmentDependency="true" targetFramework="netnanoframework10" />
</packages>